<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataPlot3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataPlot3.Properties.Settings>
            <setting name="COMPortSetting" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="PTermSetting" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="ITermSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DTermSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataSetsSetting" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="XScaleSetting" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SpeedSetting" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="YScaleSetting" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="LineSizeSetting" serializeAs="String">
                <value>4</value>
            </setting>
        </DataPlot3.Properties.Settings>
    </userSettings>
</configuration>